.vs/
out/
doxygen/doc/
gtest/out/
gtest/result/
itk/out/
moderncpp/out/
libLoad/out/
libtest/out/
moderncpp/build/
build/
libDebug/libDebugDll/Debug/
libDebug/libDebugDll/libDebugDll/Debug/
libDebug/libDebugExe/Debug/
libDebug/libDebugExe/libDebugExe/Debug/
